.clear-nav {
  height: 48px;
}

.property-item .thumbnail {
  height: 250px;
}

.property-item .thumbnail img {
  min-height: 250px;
}

.react-calendar .react-calendar__tile:enabled:hover {
  background-color: white;
  border: 1px solid #38a02e;
  margin: -1px 0px;
}

.react-calendar .react-calendar__tile.react-calendar__tile--active {
  background-color: #38a02e;
  border: 1px solid #38a02e;
  margin: -1px 0px;
}

.react-calendar .react-calendar__tile.react-calendar__tile--active:enabled:hover,
.react-calendar .react-calendar__tile.react-calendar__tile--active:enabled:focus {
  background-color: #38a02e;
  outline: none;
}

.App {
  font-family: "Poppins", sans-serif;
}

.homepage .header {
  height: 350px;
  background-image: url("/img/home-header.jpg");
  background-color: #cbe8f8;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #38a02e;
}

